/* Variables and mixins declared here will be available in all other SCSS files */
:root{
    --gn: #113c11;
    --bl: #0991cd;
    --tc: black;
    --wt: white;
}
@mixin fnt ($c,$s,$w) {
    font-size: $s;
    color: $c;
    font-weight: $w;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}